@model SweetNela.Models.Contacto

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center text-white nav-link">Contacto</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-6"> <!-- Ajusta el tamaño del formulario -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

            <div class="form-group mb-3">
                <label asp-for="Nombres" class="control-label text-white"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label text-white"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Telefono" class="control-label text-white"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Mensaje" class="control-label text-white"></label>
                <input asp-for="Mensaje" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-4">
                <input type="submit" value="Create" class="btn btn-primary px-4" />
            </div>
        </form>

        @if (User.IsInRole("Admin"))
        {
            <div class="text-center mt-3">
                <a asp-action="Index" class="text-white">Regresar a la lista
                </a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
