:root {
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--light-pink-color);
  color: var(--dark-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form-container {
  background: var(--white-color);

h2 {
  text-align: center;
  color: var(--primary-color);
}


label {
  font-weight: bold;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--medium-gray-color);
  border-radius: 5px;
  background-color: var(--white-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);

